<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/closet_style.css" type="text/css" />
    <title>My Daily Closet</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/closetjs.js"></script>
</head>
  <body>

  	
    {{{ body }}}
  </body>
</html>
