  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img id="logo" src="/assets/images/logonav.jpg">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="homeButton" class="active">
          <a href="">home</a>
        </li>
        <li id="fullClosetButton">
          <a href="">full closet</a>
        </li>
        <li id="createNewOutfitButton">
          <a href="">create outfit</a>
        </li>
        <li id="myOutfitsButton">
          <a href="">my outfits</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="row">
  <div class="col-md-12">
    <h4 id="todaysoutfit">TODAY'S OUTFIT</h4>
  </div>
</div>

<!-- <div id="calendarbox" class="container"> -->
<div class="row">
  <div class="col-md-4">

    <!-- <h5 style="margin-right: 15px;" class="text">Today Nov 8th</h5> -->
    {{#each todaysOutfit}}
    <img style="margin-left:140px;" id="redoutfit" src="{{outfitspath}}" width="400" height="400" class='closet-image'>
    {{/each}}
  </div>

  <!-- calendar-->
  <div class="col-md-4">
    <div style="margin-left:90px;" id="calendar"></div>
  </div>

  <!-- buttons-->
  <div class="col-md-4">
    <h5 style="margin-left:75px;" id="title">WHAT WOULD YOU LIKE TO DO NEXT?</h5>
    <div class="col-md-3">
      <h5 style="margin-left:50px;" class="title1">View</h5>
      <h5 style="margin-left:50px;" class="title2">Create</h5>
      <h5 style="margin-left:50px;" class="title3">View</h5>
    </div>

    <div class="col-md-1">
      <button style="margin-left:20px;" id="btn1" type="button" class="btn btn-warning" onclick="return fullcloset_onclick()">Full Closet</button>

      <button style="margin-left:20px;" id="btn2" type="button" class="btn btn-warning" onclick="return newoutfit_onclick()">New Outfits</button>

      <button style="margin-left:20px;" id="btn3" type="button" class="btn btn-warning" onclick="return saveoutfit_onclick()">My Outfits</button>
    </div>
  </div>
</div>
<!-- </div> -->
<!--- Illustrations in the bottom -->

   <div class="row">
     <div class="col-md-12">
       <img id="blouseimg" src="/assets/images/blousehanger3.jpg" width="200" height="200" class='closet-image'>
       <img id="jacket" src="/assets/images/topmale.jpg" width="200" height="200" class='closet-image'>
       <img id="shoesmen" src="/assets/images/shoes7.jpg" width="200" height="200" class='closet-image'>
       <img id="shoeswoman" src="/assets/images/shoeswoman2.jpg" width="180" height="180" class='closet-image'>
       <img id="jeans" src="/assets/images/botton3.jpg" width="100" height="160" class='closet-image'>
       <img id="accessoriesimg1" src="/assets/images/accesories1.jpg" width="140" height="160" class='closet-image'>
     </div>
   </div>

<!--end of the Illustrations container-->

<script src="/assets/js/homejs.js"></script>



