<div class="container">
  <div class="row">
	    <div class="col-md-4 ">
	     <img id="womanpic" src="/assets/images/womanfash.jpg" width="355" height="375" class='closet-image'>
	    </div>

	    <div class="col-md-4">
	     <img  id="logocloset" src="/assets/images/mydailycloset2.jpg" class="img-fluid"  width="350" height="350" class="center-block" class="logo-image"> 
	    </div>

	    <div class="col-md-4 ">
	     <img id="manpic" src="/assets/images/menfashion2.png" width="385" height="395" class='men-image'>
	    </div>
  </div>
</div>
 
<div class="row">
   <div class="col-md-4 col-md-offset-4">
	<form class="login">
		<div id="login" class="container">
			<div class="row omb_row-sm-offset-3">
				<div class="col-xs-12 col-sm-6">	
					<form class="omb_loginForm" action="" autocomplete="off" method="POST">
						<div id="usernameDiv" class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input  type="text" class="form-control" id="username" name="username" placeholder="User Name">
						</div>
						<span class="help-block"></span>
											
						<div id="passwordDiv" class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input  type="password" class="form-control" id="password" name="password" placeholder="Password">
						</div>

						<button class="btn btn-lg btn-warning btn-block btn-responsive" type="submit">Login</button>
					</form>
				</div>
			</div>
			<div class="row omb_row-sm-offset-3">
				<div class="col-xs-12 col-sm-3">
				<!--<label class="checkbox">
						<input type="checkbox" value="remember-me">Remember Me
					</label> -->
				</div>
				<div class="col-xs-12 col-sm-3">
					<p class="omb_forgotPwd">
						<a class="forgotpass" href="#">Forgot password?</a>
					</p>
				</div>
			</div>	    	
		</div>               
	</form>
</div>
</div>