<div class="container">

     <img id="pic1" src="assets/womanfash.jpg" width="355" height="375" class='closet-image'>
     <img  id="pic2" src="assets/mydailycloset2.jpg" class="img-fluid"  width="450" height="450" class="center-block" class="logo-image"> 
     <img id="pic3" src="assets/menfashion2.png" width="385" height="395" class='men-image'>
    

     <div id="login" class="container">
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
			    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
					<div id="username" class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input  type="text" class="form-control" name="username" placeholder="email address">
					</div>
					<span class="help-block"></span>
										
					<div id="password" class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input  type="password" class="form-control" name="password" placeholder="Password">
					</div>

					<button class="btn btn-lg btn-warning btn-block btn-responsive" type="submit">Login</button>
				</form>
			</div>
    	</div>
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-3">
				<label class="checkbox">
					<input type="checkbox" value="remember-me">Remember Me
				</label>
			</div>
			<div class="col-xs-12 col-sm-3">
				<p class="omb_forgotPwd">
					<a href="#">Forgot password?</a>
				</p>
			</div>
		</div>	    	
	</div>               
 
</div>