  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img id="logo" src="/assets/images/logonav.jpg">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="homeButton">
          <a href="">home</a>
        </li>
        <li id="fullClosetButton">
          <a href="">full closet</a>
        </li>
        <li id="createNewOutfitButton">
          <a href="">create outfit</a>
        </li>
        <li id="myOutfitsButton" class="active">
          <a href="">my outfits</a>
        </li>
      </ul>
    </div>
  </nav><h4 id="saveoutfit">My Outfits</h4>

<div class="row">   
  <button id="btnaddbottoms" class="btn icon-btn btn-warning" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-warning"  ></span>Upload</button>
</div>

<div id="savebox" class="container">
  {{#each outfits}}
  <div class="imgDiv">
    <div>
      <img src="{{outfitspath}}" alt="outfit" class="closetImg" height="200" width="200">
    </div>

    <button type="button" class="btn btn-default change-fav" data-id="{{this.outfitsID}}" aria-label="Favorite" name="favorite"
      {{#if favorite}} value="1">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

      {{else}} value="0">
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>{{/if}}
    </button>

    <button type="button" class="btn btn-default delete" data-id="{{this.outfitsID}}" aria-label="Delete">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>

  </div>
  {{/each}}
</div>

<br>
<hr>
<br>

<script src="/assets/js/outfitsjs.js"></script>