/*---------------LOGIN PAGE-------------------*/

#pic2 {
	position:relative; 
	margin-top:15%; 
	left:35%; 
	z-index:5;
	
}

#pic1 {
	position:absolute;
	top:05%; 
	left:15%; 

}
#pic3 {
	position:absolute; 
	top:55%; 
	left:68%; 
	z-index:3;
	
}

#login{
	position:absolute; 
	margin-top:5%; 
	left:41%; 
	width: 50%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.omb_forgotPwd{
	margin-top:5px;
	font-size: 11px;
	margin-left:22px;
}
.checkbox{
	top:5px;
	font-size: 11px;
}

#username{
	margin-bottom: 5px;

}
#password{
	margin-bottom: 5px;

}

/*--------------CREATE NEW OUTFIT-----------------*/
body{

  background-color: white;
}


.jumbotron{
	background-color:lightgray;
	margin-top:30px;
	margin:0 auto;
	left:50px;
	
}

.carousel1{
	margin-left: 150px;
}
.carousel-inner{
	background-color:#595b5c;
 
  
}


.carousel {
  max-height: 400px;
  overflow: hidden;
}

 .newoutfitname{
 	margin-top: 40px;
	color:white;
	border-radius: 5px;
	background-color:#331033;
	padding-left:90px;
	padding-top:10px;
	padding-bottom: 10px;
    font-family: 'Impact';
	font-size: 55px;
	margin-bottom: 90px;
	margin-right:750px;
	letter-spacing: 7px;

}


h5{
	font-family: 'Varela', sans-serif;
	font-size:30px;
  color:black;
	margin-left:98px;

}

h3{
	margin-top:-40px;
	margin-bottom:20px;
	font-style: 'Impacto';
	font-size:20;
	color:white;

}

#woman{
 	margin-top:-170px;
 	margin-left:-80;
}
#thumb1{
	margin-top: 20px;
	margin-left: 100px;
}


#thumb2{
	margin-top: 20px;
	margin-left: 100px;
}

#thumb3{
	margin-top: 20px;
	margin-left: 100px;
}

#thumb4{
	margin-top: 20px;
	margin-left: 100px;
}

#thumb5{
	margin-top: 20px;
	margin-left: 100px;
}
 .container {
 	margin-left:10%;
 }



#spot{
	position:absolute;
	margin-left:800px;
 	z-index: 2;
 	margin-top: 90px;

}
#man{
	
 	margin-top:540%;
 	margin-left: -160px;

}
.btn{
	margin-top: 170px;
	margin-left: 110px;
	width: 150px;
  font-family: 'Comfortaa';
  font-weight: bold;
	}

/*--------------HOME-----------------------*/





*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
 overflow: scroll;
 font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-weight: 100;
 /*color: rgba(255, 255, 255, 1);*/
 color: white;
 margin: 0;
 padding: 0;
 background: white;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}



.navbar-default {
  background-image: -webkit-linear-gradient(top, #ea880e 0%, #f9be08 100%);
  background-image: -o-linear-gradient(top, #ea880e 0%, #f9be08 100%);
  background-image: linear-gradient(to bottom, #ea880e 0%, #f9be08 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea880e', endColorstr='#fff9be08', GradientType=0);
}


.nav.navbar-nav.navbar-right li a {
    color: white;
}



#logo{
  height: 230%;
  margin-top: -14px;
  padding-left: 100%;
}



#redoutfit{
	margin-left: -90px;

	
}

#calendarbox{
  margin-top:60px;
}


#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 420px;
  margin: 0 auto;
  height: 570px;
  overflow: scroll;
  /*margin-bottom:50px;*/
}

.header {
  height: 50px;
  width: 420px;
  background: rgba(66, 66, 66, 1);
  text-align: center;
  position:relative;
  z-index: 100;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
}

.left, .right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
  left: 20px;
}

.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent rgba(160, 159, 160, 1);
  right: 20px;
}

.month {
  /*overflow: hidden;*/
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}

.week {
 background: #4A4A4A;
}

.day {
  display: inline-block;
  width: 60px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: #4A4A4A;
  position: relative;
  z-index: 100;
}

.day.other {
 color: rgba(255, 255, 255, .3);
}

.day.today {
  color: rgba(156, 202, 235, 1);
}

.day-name {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: .7px;
}

.day-number {
  font-size: 24px;
  letter-spacing: 1.5px;
}


.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: scroll;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}

.blue { background: rgba(156, 202, 235, 1); }
.orange { background: rgba(247, 167, 0, 1); }
.green { background: rgba(153, 198, 109, 1); }
.yellow { background: rgba(249, 233, 0, 1); }

.details {
  position: relative;
  width: 420px;
  height: 75px;
  background: rgba(164, 164, 164, 1);
  margin-top: 5px;
  border-radius: 4px;
}

.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}

.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -2px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
  transition: all 0.7s ease;
}

.events {
  height: 75px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: scroll;
}

.events.in {
  -webkit-animation: fadeIn .3s ease both;
  -moz-animation: fadeIn .3s ease both;
  animation: fadeIn .3s ease both;
}

.events.in {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

.details.out .events {
  -webkit-animation: fadeOutShrink .4s ease both;
  -moz-animation: fadeOutShink .4s ease both;
  animation: fadeOutShink .4s ease both;
}

.events.out {
  -webkit-animation: fadeOut .3s ease both;
  -moz-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}

.event {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}

.event.empty {
  color: #eee;
}

.event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}

.event span {
  display: inline-block;
  padding: 0 0 0 7px;
}

.legend {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgba(60, 60, 60, 1);
  line-height: 30px;

}

.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}

.entry.blue:after { background: rgba(156, 202, 235, 1); }
.entry.orange:after { background: rgba(247, 167, 0, 1); }
.entry.green:after { background: rgba(153, 198, 109, 1); }
.entry.yellow:after { background: rgba(249, 233, 0, 1); }

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}

@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}

@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}

 #todaysoutfit{
 	margin-top: 40px;
	color:white;
	border-radius: 5px;
	background-color:#331033;
	padding-left:100px;
	padding-top:10px;
	padding-bottom: 10px;
  font-family: 'Impact';
	font-size: 55px;
	margin-bottom: 40px;
	margin-right:800px;
	letter-spacing: 10px;
}


#rightquestion{

	font-family: 'Impact';
	font-size:42px;
	margin-top:50px;
  color:black;
  margin-bottom: 90px;
  font-weight: bold;
	margin-left:165px;
}


.text{
	font-size: 30px;
	margin-left:25px;
  margin-top:50px;
    font-family: 'Impact';
}

#jacket{
	margin-top: 60px;
	margin-left: 15px;

}

#blouseimg{

	margin-top: 70px;
	margin-left: 420px;
	z-index: 1;

}

#topbtn{
	margin:30px 0 0 -50px;
}

#shoesmen{
	margin-top:60px;
	margin-left:60px;

}

#shoeswoman{
 	margin-top:50px;
 margin-left:2%;
}

#skirt{
  margin-top: -20%;
  margin-left: 145%;
  /*z-index: 1;*/

}
#jeans{

  margin-top: 70px;
  margin-left: -1210px;

}
#accessoriesimg1{
  margin-top: 50px;
  margin-left: 25px;

}

/*#boxbuttons{
  background-color:lightgray;
  width:70%;
}*/

#title{
  margin:160px 0 0 120px;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 11px;
}

.title1{
  margin-top: 60px;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 16px;
  /*margin-left: 110px;*/

}
.title2{
  margin-top: 60px;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 16px;
 /* margin-left: 110px;*/

}
.title3{
  margin-top: 55px;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 16px;
 /* margin-left: 110px;*/

}

#btn1{
	margin-top: 50px;
  font-family: 'Comfortaa';
  font-weight: bold;

}

#btn2{
	margin-top: 40px;
  font-family: 'Comfortaa';
  font-weight: bold;


}

#btn3{
  margin-top: 40px;
  font-family: 'Comfortaa';
  font-weight: bold;
  
}

/*------------------FULL CLOSET PAGE-------------------*/

*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
 overflow: scroll;
 font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-weight: 100;
 color: white;
 margin: 0;
 padding: 0;
 background: white;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}


p{
  margin-top:-90px;
  margin-left:970px;
  color:black;
  font-size:20px;
  font-weight: bold;
  margin-bottom: 20px;
  
}
.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}


 #mycloset{
  margin-top: 40px;
  color:white;
  border-radius: 5px;
  background-color:#331033;
  padding-left:120px;
  padding-top:10px;
  padding-bottom: 10px;
  font-family: 'Impact';
  font-size: 55px;
  margin-bottom: 40px;
  margin-right:860px;
  letter-spacing: 10px;
}

#btnaddtops{
  margin-top:-90px;
  margin-left:970px;
 
  
}

#btnaddbottoms{
  margin-top:-20px;
  margin-left:970px;
  margin-bottom:20px;
  
}

#btnaddshoes{
  margin-top:-50px;
  margin-left:970px;
  margin-bottom:20px;
  
}

#btnaddaccessories{
  margin-top:-40px;
  margin-left:990px;
  margin-bottom:20px;
  
}


#topstitle{
  margin-left:5px;
  margin-top: 40px;
  margin-bottom: -90px;
 
}


#topbox{
  background-color:#dddfe5;
  margin-top:-15px;
  margin-bottom: 50px;
  padding:10px;
}

#bottombox{
  background-color:#dddfe5;
  margin-bottom: 40px;
  padding:10px;
}
#shoesbox{
  background-color:#dddfe5;
  margin-bottom: 50px;
  padding:10px;
}
#accessoriesbox{
  background-color:#dddfe5;
  margin-bottom: 100px;
  padding:10px;
}

#topmale{
  margin-left: 780px;
  margin-top: 20px;

}

#blouse3{
  margin-top: 20px;
   
}

#bottomtitle{
  margin-left:-15px;
  margin-bottom: -10px;

}

#jeans3{
  margin-left: 810px;
  margin-top: -20px;
   margin-bottom:-25px;

}

#skirt1{
  
   margin-top:-20px;
   margin-left:20px;
   margin-bottom:-30px;
}



#shoesman{
  margin-top:-10px;
   margin-left:810px;
   
}
#shoeswoman1{
  margin-top:-20px;
   
}

#accessman{
   margin-top:-5px;
   margin-left:830px;

}

#accesswoman{
   margin-top:-20px;
   margin-left:5px;

}


/*#accessoriesimg{
   margin-top:-70px;
   border-radius: 50%;
   outline-style: solid;
   margin-left:-20%;
   /*margin-bottom: 200px;*/


.box1{
  background-color:gray;
  height: 60%;
  width: 100%;
}


#text{
  margin-top:80px;
  font-size: 30px;
  margin-left: 260px;
  font-family: 'Varela', sans-serif;
}



#bottomimg{
  margin-top: -50px;
  

}

#shoesimg{
  margin-top: -220px;
  

}

#accessoriesimg{
  margin-top: -220px; 

}

/*------------------FULL OUTFIT-----------------------*/


#youroutfit{
  margin-top: 40px;
  color:white;
  border-radius: 5px;
  background-color:#331033;
  padding-left:100px;
  padding-top:10px;
  padding-bottom: 10px;
  font-family: 'Impact';
  font-size: 55px;
  margin-bottom: 40px;
  margin-right:1090px;
  letter-spacing: 10px;
}

#man3{
margin-top: 440px;
margin-left:20px;
}
#flower{
  margin-top: -190px;
margin-left:-70px;

}


/*------------------SAVE OUTFIT-----------------------*/


#saveoutfit{
  margin-top: 40px;
  color:white;
  border-radius: 5px;
  background-color:#331033;
  padding-left:100px;
  padding-top:10px;
  padding-bottom: 10px;
  font-family: 'Impact';
  font-size: 55px;
  margin-bottom: 40px;
  margin-right:930px;
  letter-spacing: 10px;
}

#saveoutfit1{
  text-align:left;
  margin-top: 10px;
  color:white;
  font-family: arial;
  font-weight: bold;
}

#savebox{
  height: 30%;

}

#man3{
  height: 90%;
  width:70%;
  margin-left:30px;
  margin-bottom:70px;
  margin-top:300px;
}

